<h1>Create a Team and Heroes!<h1>


<form action="/team" method="post">
  Team Name: <input type="text" name="team[name]">
  Team Motto <input type="text" name="team[motto]">

  <h2>Hero 1</h2>
    <label for="member1_name">Name</label><br>
    <input id="member1_name" type="text" name="team[members][][name]"/></br>
    <label for="member1_power">Power</label><br>
    <input id="member1_power" type="text" name="team[members][][power]"/></br>
    <label for="member1_bio">Biography</label><br>
    <input id="member1_bio" type="text" name="team[members][][biography]"/></br><br>

    <h3>Hero 2</h3>
      <label for="member2_name">Name</label><br>
      <input id="member2_name" type="text" name="team[members][][name]"/></br>
      <label for="member2_power">Power</label><br>
      <input id="member2_power" type= name="team[members][][power]"/></br>
      <label for="member2_bio">Biography</label><br>
      <input id="member2_bio" type="text" name="team[members][][biography]"/></br><br>

      <h4>Hero 3</h4>
        <label for="member3_name">Name</label><br>
        <input id="member3_name" type="text" name="team[members][][name]"/></br>
        <label for="member3_power">Power</label><br>
        <input id="member3_power" type="text" name="team[members][][power]"/></br>
        <label for="member3_bio">Biography</label><br>
        <input id="member3_bio" type="text" name="team[members][][biography]"/></br><br
        <input type="submit">
        </form>
